.navigation-look {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px;
    padding: 20px 20px;
}

.nav-style {
    font-size: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.nav-style:hover {
    color: #add8e6;
}

.error-link-page {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

.serach-main-text{
    text-align: center;
    font-size: 50px;

}

.movie-page-form {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px 0;
    padding:0 20px ;
}

.movie-page-input{
    border-radius: 8px;
    border: solid 1px whitesmoke;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    width: 100%;
    height: 40px;
    font-size: 20px;
}

.movie-page-input:focus {
    border: solid 3px #add8e6;
}

.movie-page-button {
        border-radius: 8px;
        border: 1px solid whitesmoke;
        padding: 0.6em 1.2em;
        font-size: 12px;
        font-weight: 500;
        font-family: inherit;
        background-color: #1a1a1a;
        cursor: pointer;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        width: 10%;
        font-size: 17px;
}

.movie-page-button:hover {
    background-color: #add8e6;
}

.main-text-on-mane-page {
    text-align: center;
}

.list-of-movies {
    padding: 10px 0;
    text-wrap: nowrap;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 20px;
    border-top: solid;
}

.ul-list-movie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    text-align: center;
}

.list-of-movies:hover {
    border: none;
    border-radius: 20px;
    background-color: #add8e6;
}

.movie-detali-style {
    display: flex;
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}

.movie-poster-look {
    border-radius: 10px;
}

.movie-details-p-container {
    display: flex;
    flex-direction: column;
    text-wrap: pretty;
    margin: 0 20px;
    font-size: 20px;
    padding: 0 20px;
}

.rev-cast-positioning {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px;
    padding: 20px 20px;
}

.cast-rev-style {
    font-size: 26px;
    padding: 10px;
    border-radius: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.cast-rev-style:hover {
    border: solid 1px #add8e6;
    color: #add8e6;
    background-color: whitesmoke;
}

.back-link-div {
    margin-top: 25px;
}

.back-link {
    font-size: 40px;
    padding: 6px;
    border-radius: 360px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.back-link:hover {
    background-color:  #fff;
}


.movie-title-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

.review-author {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.comment-text{
    font-size: 17px;
    text-wrap: pretty;
    text-align: center;
}

.actor-name-and-char {
    text-align: center;
    font-size: 17px;
}
